@using Microsoft.AspNetCore.Html
<style>
    .fa-square-check {
        color: green;
    }

    .fa-circle-xmark {
        background-color: green;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <button id="btnAdd" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Add Project</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="tblProject" class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sr no</th>
                            <th>Project Name</th>
                            <th>View</th>
                            <th>Application Link</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Projects Details</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/action_page.php modal">
                    <div class="form-group">
                        <label for="name">Project Name</label>
                        <input type="text" class="form-control" id="txtProjectName" placeholder="Enter Name" name="name" required>
                    </div>

                    <button type="button" class="btn btn btn-primary" onclick="SaveProject()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
            var user;

    $(document).ready(function() {
         user = @(new HtmlString(_hca.HttpContext.Session.GetString("user")??"null"));
        console.log(user.uid)
                console.log('@Url.Action("GetAllProjects","project")'+'/'+user.uid)

                    GetAllProjects(user.uid);

    })
    function GetAllProjects(uid) {

        $('#tblProject').DataTable().destroy();
        $("#tblProject").dataTable({
            "ajax": {
                url: '@(Url.Action("GetAllProjects", "Project"))' + '/' + uid,
                type: "GET",
                dataType: "JSON",
                contentType: "application/json",
                async: false,
                dataSrc: ""
            },
            "columns": [
                {
        "targets": 0,
        "render": function(data, type, row, meta) {
          return meta.row + 1;
        }
      },
                { "data": "name" },
                {
                    "data": null,
                    "render": function(a, b, c) {
                        return '<button class="btn btn-primary btn-sm" onclick="viewApplication(' + c.pid + ')">View</button>'
                    }
                },
                {
                    "data": null,
                    "render": function(data, type, row) {
                        var url = row.link;
                        var shortenedUrl = url.length > 20 ? url.substring(0, 20) + '...' : url;
                        var link = '<div class="link-container"><p title="' + url + '">' + shortenedUrl + '</p></div>';
                        var copyButton = '<button class="btn btn-secondary btn-sm copy-btn" onclick="share(\'copy\', \'' + row.link + '\')" title="Copy to Clipboard"><i class="far fa-copy"></i></button>';
                        var whatsappButton = '<button class="btn btn-primary btn-sm whatsapp-btn" onclick="share(\'w\', \'' + row.link + '\')"><i class="fab fa-whatsapp"></i></button>';
                        var instagramButton = '<button class="btn btn-danger btn-sm instagram-btn" onclick="share(\'i\', \'' + row.link + '\')"><i class="fab fa-instagram"></i></button>';
                        var twitterButton = '<button class="btn btn-info btn-sm twitter-btn" onclick="share(\'t\', \'' + row.link + '\')"><i class="fab fa-twitter"></i></button>';
                        var linkedinButton = '<button class="btn btn-primary btn-sm linkedin-btn" onclick="share(\'l\', \'' + row.link + '\')"><i class="fab fa-linkedin"></i></button>';
                     return link + '<div class="icon-buttons">' + copyButton + whatsappButton + ' ' + instagramButton + ' ' + twitterButton + ' ' + linkedinButton + '</div>';
                    }
                },
                {
                    "data":null,
                    "render": function(a, b, c) {
                        return moment(c.created_on).format("YYYY-MM-DD");
                    }
                }

            ]
        })
    }
    function viewApplication(pid) {
        window.location.href = '@(Url.Action("Applications","Home"))' + '?pid=' + pid
    }
    function SaveProject() {
        var obj = {
            name:$('#txtProjectName').val(),
            created_by:user.uid,
            updated_by:user.uid
        }
        $.ajax({
        url: '@Url.Action("SaveProject","Project")',
        type:"POST",
        contentType:"application/json",
        async:false,
        data:JSON.stringify(obj),
        success:function(resp){
            Swal.fire('Saved','Project Saved Sucessfuly','success');
            $("#txtProjectName").val('');
            $("#myModal").modal('hide');
            GetAllProjects(user.uid);
        },
        error:function(err){
            Swal.fire('OOPS','Something Went Wrong','error');
        }
    })
    }function share(type,url){

        switch (type) {
            case 'copy':
            navigator.clipboard.writeText(url)
        .then(function() {
        })
        .catch(function(error) {
        });
        break;
          case 'w':
            var whatsappUrl = 'https://api.whatsapp.com/send?text=' + encodeURIComponent(url);
            window.open(whatsappUrl, '_blank');
            break;
          case 'i':
            var instagramUrl = 'https://www.instagram.com/?url=' + encodeURIComponent(url);
            window.open(instagramUrl, '_blank');
            break;
          case 't':
            var twitterUrl = 'https://twitter.com/intent/tweet?url=' + encodeURIComponent(url);
            window.open(twitterUrl, '_blank');
            break;
          case 'l':
            var linkedinUrl = 'https://www.linkedin.com/shareArticle?url=' + encodeURIComponent(url);
            window.open(linkedinUrl, '_blank');
            break;
          default:
            // Handle unknown social media platform
            break;
        }
      }
</script>
}