@using Microsoft.AspNetCore.Html
<style>
    .fa-square-check {
        color: green;
    }

    .fa-circle-xmark {
        background-color: green;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <button id="btnAdd" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Add Project</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table id="tblProject" class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th></th>
                            <th>Application Link</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Projects Details</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/action_page.php modal">
                    <div class="form-group">
                        <label for="name">Project Name</label>
                        <input type="text" class="form-control" id="txtProjectName" placeholder="Enter Name" name="name" required>
                    </div>

                    <button type="button" class="btn btn btn-primary" onclick="SaveProject()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    $(document).ready(function() {
        var user = @(new HtmlString(_hca.HttpContext.Session.GetString("user")??"null"));
        console.log(user.uid)
                console.log('@Url.Action("GetAllProjects","project")'+'/'+user.uid)

                    GetAllProjects(user.uid);

    })
    function GetAllProjects(uid) {
        //var action = "GetAllProjects/" + uid
        $('#tblProject').DataTable().destroy();
        $("#tblProject").dataTable({
            "ajax": {
                url: '@(Url.Action("GetAllProjects", "Project"))' + '/' + uid,
                type: "GET",
                dataType: "JSON",
                contentType: "application/json",
                async: false,
                dataSrc: ""
            },
            "columns": [
                { "data": "name" },
                {
                    "data": null,
                    "render": function(a, b, c) {
                        return '<button class="btn btn-primary btn-sm" onclick="viewApplication(' + c.pid + ')">View</button>'
                    }
                },
                { "data": "link" },
                {
                    "data":null,
                    "render": function(a, b, c) {
                        return moment(c.created_on).format("YYYY-MM-DD");
                    }
                }

            ]
        })
    }
    function viewApplication(pid) {
        window.open('@Url.Action("Applications","Home")' + '?pid=' + pid, '_blank')
    }
    function SaveProject() {
        var obj = {
            name:$('#txtProjectName').val()
            //created_by:user.uid,
            //updated_by:user.uid
        }
        $.ajax({
        url: '@Url.Action("SaveProject","Project")',
        type:"POST",
        contentType:"application/json",
        async:false,
        data:JSON.stringify(obj),
        success:function(resp){
            Swal.fire('Saved','Project Saved Sucessfuly','success');
            $("#txtProjectName").val('');
            $("#myModal").modal('hide');
            GetAllProjects();
        },
        error:function(err){
            Swal.fire('OOPS','Something Went Wrong','error');
        }
    })
    }
</script>
}